@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a href="/EventManagement">Events</a></li>
        <li><a href="/JobBoard">Jobs</a></li>
        <li><a href="/ContentHub">News</a></li>
        <li><a href="/CommunityHub">Discussion</a></li>
        <li><a href="/MarketPlace">Market Place</a></li>
    </ul>
</div>
